.nav-link {
  color: var(--arsenic);
  cursor: pointer;
  margin-right: 5rem;
  text-transform: uppercase;

  @media (max-width: 1000px) {
    margin-right: 2rem;
  }
}

.active {
  border-bottom: 2px solid var(--arsenic);
  transform: scale(1.05);
  transition: 300ms all ease-out;
}
