@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font: 1rem/1.5;

  --arsenic: #40414f;
  --isabelline: #ecedec;
  --misty-moss: #c2d076;
  --rich-black: #001514;
  --vista-blue: #7b90d8;

  --rgb-arsenic: 0, 21, 20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

p {
  color: var(--arsenic);
}
