@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --arsenic: #40414f;
  --isabelline: #ecedec;
  --misty-moss: #c2d076;
  --rich-black: #001514;
  --vista-blue: #7b90d8;
  --rgb-arsenic: 0, 21, 20;
}

body {
  margin: 0;
  background-color: snow;
}

p {
  color: var(--arsenic);
}
